__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
*.pt
*.ncu-rep
*.nsys-rep
*.csv
pytorch-v2.7.1/*
!t2v_flow/planner/generated_schedules/wan/*.csv
!t2v_flow/planner/generated_schedules/hunyuan/*.csv
.venv/
ckpt
ckpt*
*.log
*.log_grad
*.html
*.pyc
*.png
*.pt
__pycache__/*
tests/*
*.pickle
*.png
*.json
events.out*
*.pkl
*.txt
*.egg-info/*
!simulation_data/*.txt
!t2v_flow/predictor/oom_thresholds/hunyuan/*.json
!t2v_flow/predictor/oom_thresholds/wan/*.json
!t2v_flow/dataset_distribution/**/*.json
!trained_models/hunyuan/*.json
!trained_models/wan/*.json
!dynamic_flex_exp_log/**/*.log 
!baseline_log/**/*.log
!baseline_log/**/*.txt
!simulation_data/simulation_log*
!t2v_flow/planner/generated_schedules/hunyuan/720p/**/*.csv
